---
// src/pages/about.astro
import Container from "../components/container.astro";
import Default from "../layouts/default.astro";
import Title from "../components/title.astro";
---

<Default>
  <Container>
     <Title title="About" />
    <div>
      <p>はじめまして。私の名前yyyyyyyです。</p>
      <p>
        私は科学と技術の世界に魅せられた研究者です。子供の頃から実験や観察が大好きで、
        身の回りの不思議な現象を解明することに情熱を注いできました。
        現在は様々な研究プロジェクトに携わりながら、科学の面白さを多くの人に伝える活動も行っています。
      </p>
      <p>
        趣味は星空観測と読書です。夜空を見上げながら宇宙の神秘について考える時間が、
        新しいアイデアを生み出すきっかけになることも多いです。
        また、科学小説やサイエンスフィクション作品を読むことで、
        想像力を膨らませています。
      </p>

      <h3>経歴</h3>
      <ul>
        <li>2015年 - 理科大学 理学部化学科 卒業</li>
        <li>2017年 - 同大学院 理学研究科修士課程 修了</li>
        <li>2017年 - 科学技術研究所 研究員として入所</li>
        <li>2020年 - 新素材開発プロジェクトのリーダーに就任</li>
        <li>2022年 - 国際科学会議で研究成果を発表</li>
        <li>2023年 - 科学コミュニケーター活動を開始</li>
        <li>2024年 - 現在に至る</li>
      </ul>

      <h3>専門分野</h3>
      <ul>
        <li>材料科学</li>
        <li>ナノテクノロジー</li>
        <li>環境化学</li>
        <li>科学教育</li>
      </ul>
    </div>
  </Container>
</Default>