---
import Container from "../components/container.astro";
import Default from "../layouts/default.astro";

import Title from "../components/title.astro";
---

<Default>
  <Container>
    <Title title="Contact" />
    <div>
      <p>
        研究や科学コミュニケーションに関するご質問、共同研究のご相談など、
        お気軽にお声がけください。可能な限り迅速にお返事いたします。
      </p>

      <h3>連絡先</h3>
      <ul>
        <li><strong>Email:</strong> taro.science@example.com</li>
        <li><strong>電話:</strong> 03-1234-5678（平日 9:00-17:00）</li>
        <li><strong>所属:</strong> 科学技術研究所 新素材開発部門</li>
      </ul>

      <h3>所在地</h3>
      <p>
        〒123-4567<br>
        東京都港区科学町1-2-3<br>
        科学技術研究所ビル 5階
      </p>

      <h3>SNS・その他</h3>
      <ul>
        <li><strong>Twitter:</strong></li>
        <li><strong>LinkedIn:</strong></li>
        <li><strong>ResearchGate:</strong></li>
      </ul>

      <h3>お問い合わせについて</h3>
      <p>
        以下の内容についてお気軽にご連絡ください：
      </p>
      <ul>
        <li>研究内容に関するご質問</li>
        <li>共同研究のご提案</li>
        <li>講演・セミナーのご依頼</li>
        <li>科学教育プログラムへの参加</li>
        <li>メディア取材のお申し込み</li>
      </ul>

      <p>
        <em>※ こちらはデモサイトです。実際の連絡先ではありません。</em>
      </p>
    </div>
  </Container>
</Default>Add comment