---
import '../styles/global.css'

import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	    <Header />
        <slot />
	    <Footer />
	</body>
</html>
